.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 100%;
  background-color: #fbf7f3;
}

.dateText {
  text-align: center;
  font-size: 12px;
  padding-top: 10px;
  color: #aeaeae;
}

.linkText {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 10px;
  gap: 40px;
}

.linkText a {
  margin: 10px 0;
  text-decoration: none;
  color: #aeaeae;
}

.infoText {
  text-align: center;
  font-size: 14px;
  padding-bottom: 20px;
  color: #aeaeae;
}
