.button {
  background-color: #8daa77;
  color: #fbf7f3;
  border: none;
  border-radius: 20px;

  width: 100%;
  max-width: 100px;

  font-size: 12px;
  font-family: var(--font-pretendard);

  padding: 10px 0px;
  cursor: pointer;
}
