:root {
  /* height: 100vh; */
  background-color: #fbf7f3;
}

body {
  display: flex;
  flex-direction: row;

  margin: 0;
  padding: 0;
  height: 100vh;

  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}
