.background {
  background-image: url("/images/profile1.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeText {
  color: white;
}

.homeText span {
  font-weight: bold;
}
