.homepage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/profile1.jpg");
  background-size: cover;
  background-position: center;

  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 70px;
  box-sizing: border-box;
}

.homeText {
  color: white;
  font-size: 2em;
  line-height: 1em;
  text-align: left;
}

.homeText span {
  font-size: 1.5em;
  font-weight: bold;
  position: relative;
  z-index: 1;
}

.homeText span::after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;
  transform: translateY(50%);
  z-index: -1;

  width: 100%;
  height: 15px;
  background-color: #8daa77;
}
